* {
  box-sizing: border-box;
}
body {
  background-color: #f4f7fb;
}

/* header 1 */
.header {
  height: 60px;
  width: 101.2%;
  margin-left: -1.4vh;
  margin-top: -1.1vh;
  background-color: #01b2ee;
  position: fixed;
}

.logo {
  width: 180px;
  height: auto;
  margin-left: 5%;
  cursor: pointer;
}
.powerd {
  width: 80px;
  height: auto;
  cursor: pointer;
  margin-left: 70%;
}
.subscribe {
  margin-top: -5vh;
  cursor: pointer;
  margin-left: 77%;
  color: white;
}
.sub {
  cursor: pointer;
  margin-top: -2.7vh;
  color: white;
  margin-left: 79.5%;
}
.down {
  cursor: pointer;
  margin-top: -3.2vh;
  color: white;
  margin-left: 74%;
}
.font {
  margin-top: -4vh;
  cursor: pointer;
  color: white;
  margin-left: 72%;
}
.cart {
  cursor: pointer;
  margin-top: -4vh;
  color: white;
  margin-left: 68.5%;
}
.heart {
  cursor: pointer;
  margin-top: -4vh;
  color: white;
  margin-left: 64.5%;
}
.geo {
  cursor: pointer;
  margin-top: -4vh;
  color: white;
  margin-left: 55%;
}
.auckland {
  cursor: pointer;
  margin-top: -3vh;
  color: white;
  margin-left: 57%;
}
.down2 {
  cursor: pointer;
  margin-top: -3.5vh;
  color: white;
  margin-left: 61.5%;
}
.vl {
  border-left: 1px solid rgb(255, 255, 255);
  margin-left: 85.5%;
  height: 45px;
  margin-top: -6vh;
}
.drop {
  --bs-scroll-height: 100px;
}
@media only screen and (max-width: 1070px) {
  /* For mobile phones: */
  [class*="powerd"],
  [class*="vl"],
  [class*="subscribe"],
  [class*="down"],
  [class*="font"],
  [class*="cart"],
  [class*="heart"],
  [class*="geo"],
  [class*="sub"],
  [class*="list"],
  [class*="auckland"] {
    display: none;
  }
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 38vh;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* header2 */
.header2 {
  background-color: white;
  height: 3.5rem;
  width: 101.2%;
  margin-left: -1.4vh;
  bottom: 0;
  position: fixed;
}
.home {
  margin-left: 8%;
  cursor: pointer;
}
.search {
  margin-left: 28%;
  margin-top: -6.5vh;

  cursor: pointer;
}
.category {
  margin-left: 48%;
  cursor: pointer;
  margin-top: -6.5vh;
}
.shop {
  margin-left: 68%;
  cursor: pointer;
  margin-top: -7vh;
}
.peerson {
  margin-left: 88%;
  cursor: pointer;
  margin-top: -7vh;
}
.cat {
  margin-left: -3vh;
}

.Search2 {
  margin-left: -1vh;
}
.Search22 {
  margin-left: -0.5vh;
}
.Search222 {
  margin-left: -1.5vh;
}
/* img title */
.imgtt {
  margin-left: 5%;
  width: 89%;
  height: auto;
  cursor: pointer;
}
@media only screen and (max-width: 585px) {
  /* For mobile phones: */
  [class*="imgtt"] {
    height: 21vh;
    width: 89%;
  }
}

/* covid 19 uptade */
.textt {
  padding: 20px 0px 0px 0px;
  text-align: center;
}
.strongg {
  color: #414040;
}

/* list menue */
.list {
  background-color: white;
  width: 21%;
  margin-left: 5%;
  height: auto;
}
.dis {
  padding-left: 25px;
  padding-top: 15px;
  color: #01b2ee;
}
.h3h3 {
  padding-left: 25px;
  color: #4f5864;
  padding-bottom: 12px;
  cursor: pointer;
}
.h3h3:hover {
  color: #01b2ee;
}

/* newsletter */

.newsletter {
  background: #fafafa;
  padding-top: 26px;
  margin-left: 5%;
  width: 89%;
  padding-bottom: 26px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.bbb_newsletter_form {
  position: relative;
  width: 40%;
  margin-top: -8vh;
  margin-left: 58%;
}
.bbb_newsletter_input {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
  color: #0e8ce4;
}
.bbb_newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 153px;
  height: 50px;
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
  background: #01b2ee;
  color: #ffffff;
  line-height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.pnew {
  color: #01b2ee;
  margin-left: 6vh;
}
@media only screen and (max-width: 1260px) {
  /* For mobile phones: */
  [class*="bbb_newsletter_content clearfix"] {
    margin-top: 11vh;
    margin-left: -128%;
  }
}
