/* i have start coding with wrong way i have code hardcode and i understand the mistake that i doit after i finish the half of the project 
but i have write in some code i write above the hardcode and i have comitit and write above <easycode> </easycode> and above hardcode <hardcode> </hardcode>
  */

* {
  box-sizing: border-box;
}
body {
  background-color: #f4f7fb;
}

/* header 1 */
.header {
  height: 60px;
  width: 101.2%;
  margin-left: -1.4vh;
  margin-top: -1.1vh;
  background-color: #01b2ee;
  position: fixed;
}

/* <easycode1> */

/* .header22{
  display: flex;
  margin-left: 60%;
  color: white;
  cursor: pointer;
  margin-top: -4vh;
  justify-content: space-between;
  width: 52vh;
} */

/* </easycode1> */

/* <hardcode1> */

.logo {
  width: 180px;
  height: auto;
  margin-left: 5%;
  cursor: pointer;
}
.powerd {
  width: 80px;
  height: auto;
  cursor: pointer;
  margin-left: 70%;
}
.subscribe {
  margin-top: -5vh;
  cursor: pointer;
  margin-left: 77%;
  color: white;
}
.sub {
  cursor: pointer;
  margin-top: -2.7vh;
  color: white;
  margin-left: 79.5%;
}
.down {
  cursor: pointer;
  margin-top: -3.2vh;
  color: white;
  margin-left: 74%;
}
.font {
  margin-top: -4vh;
  cursor: pointer;
  color: white;
  margin-left: 72%;
}
.cart {
  cursor: pointer;
  margin-top: -4vh;
  color: white;
  margin-left: 68.5%;
}
.heart {
  cursor: pointer;
  margin-top: -4vh;
  color: white;
  margin-left: 64.5%;
}
.geo {
  cursor: pointer;
  margin-top: -4vh;
  color: white;
  margin-left: 55%;
}
.auckland {
  cursor: pointer;
  margin-top: -3vh;
  color: white;
  margin-left: 57%;
}
.down2 {
  cursor: pointer;
  margin-top: -3.5vh;
  color: white;
  margin-left: 61.5%;
}
.vl {
  border-left: 1px solid rgb(255, 255, 255);
  margin-left: 85.5%;
  height: 45px;
  margin-top: -6vh;
}
/* </hardcode1> */

.drop {
  --bs-scroll-height: 100px;
}
@media only screen and (max-width: 1070px) {
  /* For mobile phones: */
  [class*="powerd"],
  [class*="vl"],
  [class*="subscribe"],
  [class*="down"],
  [class*="font"],
  [class*="cart"],
  [class*="heart"],
  [class*="geo"],
  [class*="sub"],
  [class*="list"],
  [class*="auckland"] {
    display: none;
  }
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 38vh;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* header2 */
.header2 {
  background-color: white;
  height: 3.5rem;
  width: 101.2%;
  margin-left: -1.4vh;
  bottom: 0;
  position: fixed;
}

/* <easycode2> */

/* .headersown{
display:flex;
margin-left:2%;
justify-content:space-between;
cursor:pointer;
color:white;
} */

/* </easycode2> */

/* <hardcode2> */
.home {
  margin-left: 8%;
  cursor: pointer;
}
.search {
  margin-left: 28%;
  margin-top: -6.5vh;

  cursor: pointer;
}
.category {
  margin-left: 48%;
  cursor: pointer;
  margin-top: -6.5vh;
}
.shop {
  margin-left: 68%;
  cursor: pointer;
  margin-top: -7vh;
}
.peerson {
  margin-left: 88%;
  cursor: pointer;
  margin-top: -7vh;
}
.cat {
  margin-left: -3vh;
}

.Search2 {
  margin-left: -1vh;
}
.Search22 {
  margin-left: -0.5vh;
}
.Search222 {
  margin-left: -1.5vh;
}
/* </hardcode2> */

/* img title */
.imgtt {
  margin-left: 5%;
  width: 89%;
  height: auto;
  cursor: pointer;
}
@media only screen and (max-width: 585px) {
  /* For mobile phones: */
  [class*="imgtt"] {
    height: 21vh;
    width: 89%;
  }
}

/* covid 19 uptade */
.textt {
  padding: 20px 0px 0px 0px;
  text-align: center;
}
.strongg {
  color: #414040;
}

/* list menue */
.list {
  background-color: white;
  width: 21%;
  margin-left: 5%;
  height: auto;
}
.dis {
  padding-left: 25px;
  padding-top: 15px;
  color: #01b2ee;
}
.h3h3 {
  padding-left: 25px;
  color: #4f5864;
  padding-bottom: 12px;
  cursor: pointer;
}
.h3h3:hover {
  color: #01b2ee;
}

/* newsletter */

.newsletter {
  background: white;
  padding-top: 26px;
  margin-left: 5%;
  width: 89%;
  padding-bottom: 26px;
}
.bbb_newsletter_form {
  width: 25%;
  margin-top: -8vh;
  margin-left: 58%;
}

.bbb_newsletter_input {
  width: 100%;
  height: 50px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
  color: #0e8ce4;
}
.bbb_newsletter_input1 {
  width: 65%;
  height: 50px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
  color: #0e8ce4;
}
.bbb_newsletter_button {
  margin-top: -8vh;
  width: 153px;
  height: 50px;
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
  background: #01b2ee;
  color: #ffffff;
  line-height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.pnew {
  color: #01b2ee;
  margin-left: 6vh;
}
.txtbuttons {
  display: flex;
}

@media only screen and (max-width: 1260px) {
  /* For mobile phones: */
  [class*="txtbuttons"] {
    margin-top: 11vh;
    margin-left: -128%;
  }
}

/* posts */

.post1 {
  width: 33%;
  height: 50vh;
  cursor: pointer;
  margin-left: 15px;
}
.post2 {
  width: 33%;
  height: 50vh;
  cursor: pointer;
  margin-left: 15px;
}
.info {
  width: 100%;
  height: 190px;
  background-color: white;
  margin-top: -3vh;
}
.h2h {
  color: #4f5864;
  font-size: 20px;
  font-weight: 500;
  margin-left: 3vh;
}
.price {
  line-height: 1.2;
  text-align: right;
  color: #1eb3ec;
  cursor: pointer;
  font-size: 30px;
  margin-right: 3vh;
}
.bought {
  color: #92a2ad;
  margin-bottom: 3vh;
  margin-top: -4vh;
  margin-left: 3vh;
}
.img1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img1:hover {
  content: url("./camema2.png");
}
.img2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img2:hover {
  content: url("./3sfour2.png");
}
.img3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img3:hover {
  content: url("./post33.png");
}
.img4{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img4:hover {
  content: url("./post44.png");
}
.img5{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img5:hover {
  content: url("./post55.png");
}
.img6{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img6:hover {
  content: url("./post66.png");
}
.img7{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img7:hover {
  content: url("./post77.png");
}
.img8{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img8:hover {
  content: url("./post88.png");
}
.img9{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img9:hover {
  content: url("./post99.png");
}
.img10{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img10:hover {
  content: url("./post1010.png");
}
.img11{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img11:hover {
  content: url("./post1111.png");
}
.img12{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img12:hover {
  content: url("./post1212.png");
}
.img13{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img13:hover {
  content: url("./post1313.png");
}
.img14{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img14:hover {
  content: url("./post1414.png");
}
.img15{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img15:hover {
  content: url("./post1515.png");
}
.img16{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img16:hover {
  content: url("./post1616.png");
}
.img17{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img17:hover {
  content: url("./post1717.png");
}
.img18{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img18:hover {
  content: url("./post1818.png");
}
.img19{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img19:hover {
  content: url("./post1919.png");
}
.img20{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img20:hover {
  content: url("./post2020.png");
}
.img21{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img21:hover {
  content: url("./post2121.png");
}
.img22{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img22:hover {
  content: url("./post2222.png");
}
.img23{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img23:hover {
  content: url("./post2323.png");
}
.img24{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img24:hover {
  content: url("./post2424.png");
}
.img25{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img25:hover {
  content: url("./post2525.png");
}
.img26{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img26:hover {
  content: url("./post2626.png");
}
.img27{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img27:hover {
  content: url("./post2727.png");
}
.img28{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img28:hover {
  content: url("./post2828.png");
}
.img29{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img29:hover {
  content: url("./post2929.png");
}
.img30{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img30:hover {
  content: url("./post3030.png");
}
.img31{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img31:hover {
  content: url("./post3131.png");
}
.img32{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img32:hover {
  content: url("./post3232.png");
}
.img33{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img33:hover {
  content: url("./post3e333.png");
}
.img34{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img34:hover {
  content: url("./post3e434.png");
}
.img35{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img35:hover {
  content: url("./postt3535.png");
}
.img36{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img36:hover {
  content: url("./postt3636.png");
}
.img37{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img37:hover {
  content: url("./postt3737.png");
}
.img38{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img38:hover {
  content: url("./postt3838.png");
}
.img39{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img39:hover {
  content: url("./postt3939.png");
}
.img40{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img40:hover {
  content: url("./postt4040.png");
}
.img41{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img41:hover {
  content: url("./postt4141..png");
}
.img42{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img42:hover {
  content: url("./post4242.png");
}
.img43{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img43:hover {
  content: url("./postt4343.png");
}
.img44{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img44:hover {
  content: url("./postt4444.png");
}
.img45{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img45:hover {
  content: url("./postt4545.png");
}
.img46{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.img46:hover {
  content: url("./postt4646.png");
}
.fll {
  display: flex;
}
.fll2 {
  display: flex;
  margin-left: 4%;
  width: 94%;
}

@media only screen and (max-width: 1070px) {
  /* For mobile phones: */
  [class*="post1"],
  [class*="post2"] {
    width: 50%; 
  }
}
@media only screen and (max-width: 660px) {
  /* For mobile phones: */
  [class*="fll"] {
    display: block !important;
  }
}

@media only screen and (max-width: 660px) {
  /* For mobile phones: */
  [class*="post1"],
  [class*="post2"]   {
    width: 75%;
    margin-left: 13%;
    margin-top: 16%;
  }
}
@media only screen and (max-width: 660px) {
  /* For mobile phones: */
  [class*="post1"] {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1070px) {
  [class*="newsletter1"] {
    margin-top: 18%;
  }
}
@media only screen and (max-width: 460px) {
  [class*="newsletter1"],
  [class*="post1"] {
    margin-top: -0.5vh;
  }
}
@media only screen and (max-width: 400px) {
  [class*="main-footer__copyright"] {
    display: grid !important;
    justify-content: flex-start !important;
  }
}

/* featured */
.h1feature {
  color: #4f5864;
  cursor: pointer;
}
.h1feature:hover {
  color: #01b2ee;
}
.view {
  border-radius: 5px;
  background-color: #01b2ee;
  color: #fff;
  line-height: 35px;
  height: 35px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 15px;
  cursor: pointer;
  margin-top: 3.3vh;
}
.view:hover {
  background-color: #05c0ff;
}
.featured {
  display: flex;
  margin-left: 5%;
}
.dcd {
  margin-top: 1vh;
}

/* footer1 */
.footer11 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 20px;
  margin: auto;
  background-color: white;
  color: #4f5864;
  width: 100.5%;
}
.svgg {
  margin-left: 3vh;
  cursor: pointer;
  display: initial;
}

.svgg1 {
  margin-left: -3vh;
}
.download {
  background-color: #01b2ee;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 16px 16px 16px;
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
  cursor: pointer;
}
.download:hover {
  background-color: #05c0ff;
}
.footer111 {
  display: block;
}
.footer112 {
  display: grid;
}
.a:hover {
  color: #0e8ce4;
  cursor: pointer;
}
.a {
  color: #4f5864;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* footer2 */

.main-footer__copyright {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dce3ed;
  background-color: #fff;
}

.imgggg {
  color: #1eb3ec;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
}
.aaaa {
  color: #0e8ce4;
  cursor: pointer;
  padding-right: 10px;
}
